/* This CSS is only for testing. Helps visualizing the div
positions inside the webpage */
@import url(http://fonts.googleapis.com/css?family=Montserrat);
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #F5F5F5;
}
h1, h3{
	text-align: center;
	text-decoration: underline;
}
h3{
	font-size: 16px;
}


html { 
  background: url(../res/bg/srtbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#header{
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
	/*margin: 0 auto;*/
	width : 99%;
	min-width: 800px;
	border: 0px;
	padding-left: 10px;
	padding-right: -10px;
	height: 90px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}
#header h1{
	text-decoration: none;
	padding: 0;
	margin: 0;
	text-align: left;
}
#header h2{
	padding: 0;
	margin: 0;
	font-size: 15pt;
}


#userhead{
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.2);
	width: 100px;
	float: right;
	text-align: left;
}
#userhead a{
	color: white;
	text-decoration: underline;
}
#logohead{
	background-color: none;
	width: 400px;
	float: left;
}
div {
	padding: 5px;
}


.plotfull{
	background-color: orange;
	border: 1px dashed purple;
	width: 335px;
	float: left;
}
.plot{
	background-color: white;
	width: 450px;
	height: 380px;
	float: left;
	border: 1px solid green;
	z-index: 1;
}


.status{
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.3);
	width: 165px;
	min-height: 100px;
	/*float: left;*/
	border: 1px solid white;
	font-size: 13px;
	margin-bottom: 10px;
}
.status h3{
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
}
.statustable{
	table-layout: fixed;
	width: 100%;
}
tbody .tdicon img{
	width: 19px;
	height: 19px;
}
tbody .tdicon{
	width: 20px;
}







#maincontainer{
	width: 792px;
	min-width: 800px;
	min-height: 500px;
	margin: 0 auto;
	/*overflow: hidden;*/
	background-color: none;
	clear: both;
	margin-top: 5px;
}
#navmenu{
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
	float:left;
	height: 390px;
	width: 80px;
	padding: 10px;
	border: none;
}

#commanddiv{
	height: 50px;
	background-color: brown;
	border-radius: 5px;	
	margin-bottom: 10px;
}
#stuff, #welcome{
	padding: 10px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
	float: left;
	width: 450px;
	margin-left: 15px;
	margin-bottom: 15px;
	min-height: 443px;
}
#statusset{
	float: left;
	padding: 10px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
	margin-left: 15px;
}
#history{
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.8);
	margin-bottom: 15px;
	width: 780px;
	clear: both;
	border: 5px solid;
	border-color: black;
	border-radius: 5px;
	color: black;
	margin-top: 10px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
}
#footer{
	clear: both;
	width: 100%;
	border-color: black;
	text-align: center;
}



img.menuitem{
	width: 80px;
	height: 80px;
	padding-bottom: 10px;
}


/*ul {
	padding: 17px;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #dddddd;
	font-weight: 700;
	text-transform: uppercase;
}

ul li {
	float: left;
	margin-right: 10px;
	border-right: 1px solid black;
}

ul a {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding: 5px 5px;
	line-height: 18px;
	text-decoration: none;
	border-radius: 5px;
	display: block;
}

ul a:hover {
	background: rgba(0,0,0,0.2);
}
ul a:active, ul a.active {
	background: rgba(0,0,0,0.3);
}

*/