/* This CSS is only for testing. Helps visualizing the div
positions inside the webpage */
html, body {
    height: 100%;
    font-family: sans-serif;
}
h1, h3{
	text-align: center;
	text-decoration: underline;
}
h3{
	font-size: 16px;
}


#header{
	background: black;
	/*margin: 0 auto;*/
	width : 100%;
	color: white;
	border: 0px;
	padding: 10px;
	height: 90px;
	margin-bottom: 10px;
}
#userhead{
	background-color: green;
	width: 200px;
	float: right;
}
#logohead{
	background-color: none;
	width: 500px;
	float: left;
}
div {
	padding: 5px;
}






/*.plotset #statusset{
	background-color: yellow;
	border: 1px dashed brown;
	width: 700px;
	float:left;
}*/
.plotfull{
	background-color: orange;
	border: 1px dashed purple;
	width: 335px;
	float: left;
}
.plot{
	background-color: white;
	width: 450px;
	height: 380px;
	float: left;
	border: 1px solid green;
	z-index: 1;
}


.status{
	background-color: gray;
	width: 165px;
	min-height: 100px;
	/*float: left;*/
	border: 1px solid green;
	font-size: 11px;
	margin-bottom: 10px;
}







#maincontainer{
	/*width: 820px;*/
	min-height: 500px;
	margin: 0 auto;
	background-color: white;
	clear: both;
	margin-top: 5px;
}
#navmenu{
	float:left;
	background-color: white;
	height: 390px;
	width: 80px;
	padding: 10px;
	border: 5px solid;
	border-radius: 5px;
}

#commanddiv{
	height: 50px;
	background-color: brown;
	border-radius: 5px;	
	margin-bottom: 10px;
}
#stuff, #welcome{
	padding: 10px;
	background-color: black;
	color: white;
	float: left;
	border: 5px solid;
	border-radius: 5px;
	border-color: black;
	width: 450px;
	margin-left: 15px;
	margin-bottom: 15px;
	min-height: 443px;
}
#statusset{
	float: left;
	padding: 10px;
	background-color: white;
	border: 5px solid;
	border-radius: 5px;
	margin-left: 15px;
}
#history{
	background-color: blue;
	margin-bottom: 15px;
	width: 850px;
	clear: both;
	border: 5px solid;
	border-color: black;
	border-radius: 5px;
	color: white;
}
#footer{
	clear: both;
	width: 100%;
	border-color: black;
	text-align: center;
}



img.menuitem{
	width: 80px;
	height: 80px;
	padding-bottom: 10px;
}


/*ul {
	padding: 17px;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #dddddd;
	font-weight: 700;
	text-transform: uppercase;
}

ul li {
	float: left;
	margin-right: 10px;
	border-right: 1px solid black;
}

ul a {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding: 5px 5px;
	line-height: 18px;
	text-decoration: none;
	border-radius: 5px;
	display: block;
}

ul a:hover {
	background: rgba(0,0,0,0.2);
}
ul a:active, ul a.active {
	background: rgba(0,0,0,0.3);
}

*/